
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 3</b></center>    
<pre>

<center><b><h1>DARSHAN UNIVERSITY</b></center>
<br>
<center><b><h1> JAY PATEL</b></center>
<center><b><h1>23010101201</b></center> 
<center><b><h1>136</b></center>

# for and while loop

### 01) WAP to print 1 to 10.

In [5]:
for i in range(1,11):
    print(i,sep=",",end=" ")

1 2 3 4 5 6 7 8 9 10

### 02) WAP to print 1 to n.

In [1]:
num1 = int(input("enter the number :"))
for i in range(1,num1+1):
    print(i,sep=",",end=" ")

enter the number : 10

1 2 3 4 5 6 7 8 9 10

### 03) WAP to print odd numbers between 1 to n.

In [3]:
num2 = int(input("enter the number : "))

print("odd numbers between 1 and", num2, "are :")
for i in range(1,num2+1):
    if i%2!=0:
        print(i,sep=",",end=" ")

enter the number :  50

odd numbers between 1 and 50 are :
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

### 04) WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3.

In [4]:
num_1 = int(input("enter the starting number : "))
num_2 = int(input("enter the ending number : "))

print("numbers between", num_1, "and", num_2, "which are divisible by 2 but not divisible by 3 are :")
for i in range(num_1,num_2+1):
    if i%2==0 and i%3!=0:
        print(i,sep=",",end=" ")

enter the starting number :  50
enter the ending number :  100

numbers between 50 and 100 which are divisible by 2 but not divisible by 3 are :
50 52 56 58 62 64 68 70 74 76 80 82 86 88 92 94 98 100

### 05) WAP to print sum of 1 to n numbers.

In [6]:
n1 = int(input("enter the number : "))
sum = 0
for i in range(1,n1+1):
    sum += i

print("sum of 1 to", n1, "is :", sum)

enter the number :  100

sum of 1 to 100 is : 5050

### 06) WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n.

In [8]:
n2 = int(input("enter the number : "))
sum = 0
for i in range(1,n2+1):
    sum += i**2

print("sum of series 1^2 + 2^2 +... +", n2, "^2 is :", sum)

enter the number :  100

sum of series 1^2 + 2^2 +... + 100 ^2 is : 338350

### 07) WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n.

In [10]:
n3 = int(input("enter the number : "))

sum = 0

for i in range(1,n3+1):
    if i%2!=0:
        sum -= i
    else:
        sum += i

print("sum of series 1 - 2 + 3 - 4 +... +", n3, "is :", sum)

enter the number :  10

sum of series 1 - 2 + 3 - 4 +... + 10 is : 5

### 08) WAP to print multiplication table of given number.

In [12]:
n4 = int(input("enter the number : "))

print("Multiplication table of", n4, "is :")
for i in range(1,11):
    print(n4,"*",i,"=",n4*i)

enter the number :  19

Multiplication table of 19 is :
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

### 09) WAP to find factorial of the given number.

In [7]:
num__1 = int(input("enter the number : "))
factorial = 1
for i in range(1, num__1+1):
    factorial = factorial * i

print("factorial of", num__1, "is :", factorial)

enter the number :  5

factorial of 5 is : 120

### 10) WAP to find factors of the given number.

In [8]:
num__2 = int(input("enter the number : "))

print("factors of", num__2, "are :")
for i in range(1, num__2+1):
    if num__2 % i == 0:
        print(i,sep=",",end=" ")

enter the number :  10

factors of 10 are :
1 2 5 10

### 11) WAP to find whether the given number is prime or not.

In [10]:
num = int(input("Enter the number: "))

if num <= 1:
    print("Not prime")
elif num == 2:
    print("Prime")
else:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print("Not prime")
            break
    else:
        print("Prime")

Enter the number:  27

Not prime

### 12) WAP to print sum of digits of given number.

In [15]:
number1 = int(input(" enter the number : "))
sum = 0
for i in range(1, number1+1):
    digit = number1%10
    sum = sum + digit
    number1 = number1//10
print("sum of digit of number is ", sum)

 enter the number :  121212

sum of digit of number is  9

### 13) WAP to check whether the given number is palindrome or not

In [17]:
n0=int(input("Enter number:"))
temp=n0
rev=0
while(n0>0):
    dig=n0%10
    rev=rev*10+dig
    n0=n0//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number: 123321

The number is a palindrome!

### 14) WAP to print GCD of given two numbers.

In [20]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd number: "))

gcd = 1 

for i in range(1, min(num1, num2) + 1):  
    if (num1 % i == 0) and (num2 % i == 0): 
        gcd = i

print(f"The GCD of {num1} and {num2} is {gcd}")

Enter the 1st number:  12
Enter the 2nd number:  21

The GCD of 12 and 21 is 3